

*{
    margin: 0;
    padding: 0;
    color: coral;
    box-sizing: border-box;
    font-family: 'poppins' ,san-serif ,courier,arial,helvetica;

}
/*navigation bar*/

nav{
 
 background-color: gray;
  background-color: rgba(0, 0, 0, 0.296);
}
nav:after{
    content: '';
    clear: both;
    display: table;
  font-size: 20px;

}
nav ul{
    float: center;
    list-style: none;
    position: relative;
    text-align: center;

}
nav ul li{
    float: center;
    display: inline-block;
    margin: 0 1px;


}
nav ul li a{
    text-align: center;
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 20px;
    padding: 3px 15px;
    position: center;

}
nav ul li a:hover{
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px coral,
                0 0 5px coral;

}


      

.header-container{
    margin-left: auto;
    margin-right: auto;
    width : auto;
}

.header{
  background-color: coral;
  height: 100px;
    
}
.header img{
  float: left;
  width: 100px;
  height: 100px

 /* <h1 id="logo"><img src="images/pizzaMtransparent.png"  alt="Piazza Maestro"> Pizza Maestro</a></h1>*/
}
.header h1{
  
  display: inline;
  font-family: "italicize,arial";
  position: relative;
  top: 34px;
  }

 
.





.footer{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    background-color: gray;
  background-color: rgba(0, 0, 0, 0.296);
  border:0px;
}



.footer .container{
  background-color:gray;
  max-width: 1390px;
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: row;
}

.container .containerX{
    width: 25%;
    height: 100%;
  background-color: ;
     
}

.containerX h2{
  
    color: coral;
    font-size: 27px;
    font-family:italic, Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 35px;

}
.containerX h3{
    color:white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 8px;
    
  

    
}
.containerX h3 a{
    color:white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 30px;
     text-decoration:none;
  margin-top: 30px;
  color:white;
  transition:0.5s all;
  -webkit-transition:0.5s all;
  -moz-transition:0.5s all;
  -o-transition:0.5s all;
  -ms-transition:0.5s all;
  border-radius:3px;
  -noz-border-radius:5px;
  -webkit-border-radius:5px;
  padding:0% 5%;
  margin-bottom: 100px;
  
    
}
.containerX h3 a:hover{
  color:#6b3e26;
  background-color:coral;
}
.con1 .social{

    width: 100%;
    height: 30px;
    margin-top: 50px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    margin-left: 1000px;
    
}


.social .soc{
    width: 20%;
    height: 100%;
    background-color: ;
    margin-left: 30px;
    margin-bottom: 10px;

}

.facebook{
    background-image: url("image/i1.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.twitter{
    background-image: url("image/i2.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.instagram{
    background-image: url("image/i3.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.pinterest{
    background-image: url("image/i4.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.linkedin{
    background-image: url("image/i5.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}



.con3 img{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.con4 h3{
    color:coral;
    text-align: ;
    margin-right: 30px; 
}










.orderdiv {
  background-color: white;
}

.ordertable td {
  color: black;
}

table.ordertable {
  background-color: white;
  width: 70%;
  color: black;
  margin-left: auto;
  margin-right: auto;
}

.ordertable td:nth-child(2n-1) {
  text-align: left;
  padding-left: 150px;
}
.ordertable td:nth-child(2n) {
  text-align: left;
  padding-left: 100px;
}

.ordertable {
  font-size: 15px;
  font-weight: bold;
}

.ordertable #payment,
#deliveryinfo {
  display: table-column;
}

.ordertable h3 {
  font-size: 25px;
  color: rgb(77, 7, 28);
  padding-top: 0px;
}

.form-text {
  size: "50";
}

button {
  background-color: rgb(255, 0, 55);
  color: black;
  font-weight: bold;
  padding: 10px;
  margin-left: 0px;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"] {
  width: 90%;
  padding: 5px 0;
  border-color: black;
}

.ordertable #payment {
  width: 85%;
}
.ordertable #deliveryinfo {
  width: 85%;
  margin-left: 0px;
}
.footer {
  background-color: black;
  color: #fff;
}